[submodule "DLIR-Allocator"]
	path = DLIR-Allocator
	url = https://github.com/DLI-Optimizer/DLIR-Allocator.git
[submodule "DLIR-Split"]
	path = DLIR-Split
	url = https://github.com/DLI-Optimizer/DLIR-Split.git
